<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/admin">
                <i class="fas fa-home"></i> {{_ 'Admin'}}
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="/admin/app/search">
                <i class="fas fa-rocket"></i> {{_ 'Applications'}}
            </a>
        </li>
        <li class="breadcrumb-item">
            <i class="fas fa-eye"></i> {{title}}
        </li>
    </ol>
</nav>

<div class="main-padding">
    <div class="row mb-3">
        <div class="col-md text-right">
            <a href="/admin/app/refresh/{{item.app_id}}?redirect={{redirecturl}}">
                Refresh Application
            </a>
            <span>|</span>
            <a href="/admin/app/remove/{{item.app_id}}?redirect=/admin/app/search">
                Remove Application
            </a>
        </div>
    </div>
    <div class="box">
        <div class="box-head box-success">
            <h3 class="box-title"><i class="fas fa-eye"></i> Viewing Application - {{item.app_name}}</h3>
        </div>
        <div class="box-body box-padding">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><strong>Slug</strong></td>
                        <td>
                            <a href="/admin/app/update/{{item.app_id}}?redirect={{redirecturl}}">
                                {{item.app_slug}}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Name</strong></td>
                        <td>
                            <a href="/admin/app/update/{{item.app_id}}?redirect={{redirecturl}}">
                                {{item.app_name}}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Description</strong></td>
                        <td>{{item.app_description}}</td>
                    </tr>
                    <tr>
                        <td><strong>Domain</strong></td>
                        <td>{{item.app_domain}}</td>
                    </tr>
                    <tr>
                        <td><strong>Website</strong></td>
                        <td>
                            <a href="{{item.app_website}}" target="_blank">
                                {{item.app_website}}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Client ID / Token</strong></td>
                        <td>{{item.app_token}}</td>
                    </tr>
                    <tr>
                        <td><strong>Secret</strong></td>
                        <td>{{item.app_secret}}</td>
                    </tr>
                    <tr>
                        <td><strong>Created</strong></td>
                        <td>{{date item.app_created 'M d, Y H:i:s'}}</td>
                    </tr>
                    <tr>
                        <td><strong>Updated</strong></td>
                        <td>{{date item.app_updated 'M d, Y H:i:s'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>