<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/admin">
                    <i class="fas fa-home"></i> {{_ 'Admin'}}
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <i class="fas fa-rocket"></i> {{_ 'Applications'}}
            </li>
        </ol>
    </nav>
    
    <div class="main-padding">
        {{#when filter.app_active '===' '0'}}
            <h3 class="main-title">
                <i class="fa fa-rocket"></i>
                {{number total}} {{_ 'Inactive Applications'}}
                {{#if q.0}}
                    {{_ 'matching'}} {{q.0}}
                {{/if}}
            </h3>
        {{else}}
            <h3 class="main-title">
                <i class="fa fa-rocket"></i>
                {{number total}} {{_ 'Applications'}}
                {{#if q.0}}
                    {{_ 'matching'}} {{q.0}}
                {{/if}}
            </h3>
        {{/when}}
    
        <div class="clearfix mb-4 search-actions">
            <div class="btn-group" role="group" aria-label="...">
                <a class="btn btn-primary" href="?filter[app_active]=1">
                    {{_ 'Active'}}
                </a>
                <a class="btn btn-danger" href="?filter[app_active]=0">
                    {{_ 'Inactive'}}
                </a>
            </div>
    
            <div class="float-right">
                <a class="btn btn-success" href="/admin/app/create">
                    <i class="fas fa-plus"></i> {{_ 'Create Application'}}
                </a>
            </div>
        </div>
    
        <form method="post">
            <div class="table-overflow">
            {{#if rows}}
                <!-- START: TABLE -->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{{_ 'Actions'}}</th>
                            <th>{{_ 'Slug'}}</th>                            
                            <th>{{_ 'Name'}}</th>
                            <th>{{_ 'Domain'}}</th>
                            <th>{{_ 'Website'}}</th>
                            <th>{{_ 'Token'}}</th>
                            <th>{{_ 'Secret'}}</th>                            
                            <th>{{_ 'Created'}}</th>
                            <th>{{_ 'Updated'}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each rows}}
                            <tr data-id="{{app_id}}">
                                <td>
                                    {{#if ../filter.app_active}}
                                        <a class="text-orange" title="Refresh" href="/admin/app/refresh/{{app_id}}?redirect={{redirecturl}}">
                                        <i class="fas fa-sync"></i></a>
                                        &nbsp;
                                        <a class="text-secondary" title="View" href="/admin/app/detail/{{app_id}}">
                                        <i class="fas fa-eye"></i></a>
                                        &nbsp;
                                        <a class="text-info" title="Edit" href="/admin/app/update/{{app_id}}?redirect={{redirecturl}}">
                                        <i class="fas fa-edit"></i></a>
                                        &nbsp;
                                        <a class="text-danger" title="Remove" href="/admin/app/remove/{{app_id}}?redirect={{redirecturl}}"
                                        class="text-danger remove"><i class="fas fa-times"></i></a>
                                    {{else}}
                                        <a title="Restore" href="/admin/app/restore/{{app_id}}?redirect={{redirecturl}}" class="text-success restore">
                                        <i class="fas fa-external-link-alt"></i></a>
                                    {{/if}}
                                </td>
                                <td>
                                    <a href="/admin/app/update/{{app_id}}?redirect={{redirecturl}}">{{app_slug}}</a>
                                </td>
                                <td>
                                    <a href="/admin/app/update/{{app_id}}?redirect={{redirecturl}}">{{app_name}}</a>
                                </td>
                                <td>
                                    {{app_domain}}
                                </td>
                                <td>
                                    {{#if app_website}}
                                    <a href="{{app_website}}" target="_blank">{{app_website}}</a>
                                    {{else}}
                                    -
                                    {{/if}}
                                </td>
                                <td>
                                    {{chars app_token 15}}...
                                </td>
                                <td>
                                    {{chars app_secret 15}}...
                                </td>
                                <td>
                                    {{date app_created 'Y-m-d H:i:s'}}
                                </td>
                                <td>
                                    {{date app_updated 'Y-m-d H:i:s'}}
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
                <!-- END: TABLE -->
            {{else}}
                <!-- START: NO RESULTS -->
                <div class="alert alert-info no-results">
                    <center>{{_ 'No Results Found'}}.</center>
                </div>
                <!-- END: NO RESULTS -->
            {{/if}}
            <ul class="pagination">
                {{#pager total range}}
                <li class="page-item {{#if active}}active{{/if}}"><a class="page-link" href="?{{href}}">{{page}}</a></li>
                {{/pager}}
            </ul>
        </form>
    </div>
    